<div class="jumbotron">
    <div class="container">
        <div class="row">
            <p style="padding: 50px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; size: 50px;" class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        </div>
        <hr class="my-4">
        <p>Copyright 2007 - 2018 FPT Digital Retail Joint Stock Company. Business license No. 0311609355 by Department of Planning and Investment of Ho Chi Minh City on 08/03/2012. GP No. 48 / GP-TTĐT by the Department of Information and Communications of
            Ho Chi Minh City issued on July 2, 2018. Content manager: Vu Duc Hai Apple, the Apple logo are trademark of Apple inc, registered in the US, and other countries</p>
        <p class="lead">
            <button type="button" class="btn btn-outline-primary">Primary</button>
        </p>
    </div>
</div>