<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                Knock down National direction: HCM: 121 Le Loi, Ben Nghe Ward, District 1, Nui Hanoi: 92 Hai Ba Trung, Ward South Gate, Hoan Kiem Dist., City Hanoi Danang: 240 Hoang Dieu, Hai Chau District, City. Danang Can Tho: 52 - 54 - 56 Wind 30/4, P. An Phu, Q.
                Ninh Kieu, Can Tho HOTLINE: 18006601 number 2 Email: Fptsho
            </div>
            <div class="col-sm">
                Support Services Privacy Policy Product exchange policy Warranty Policy Delivery policy Frequently Asked Questions Shopping guide </div>
            <div class="col-sm">

                Free delivery 1800 6601 Customer care 1800 6616 </div>
        </div>
        <hr class="my-4">
        <p>Copyright 2007 - 2018 FPT Digital Retail Joint Stock Company. Business license No. 0311609355 by Department of Planning and Investment of Ho Chi Minh City on 08/03/2012. GP No. 48 / GP-TTĐT by the Department of Information and Communications of
            Ho Chi Minh City issued on July 2, 2018. Content manager: Vu Duc Hai Apple, the Apple logo are trademark of Apple inc, registered in the US, and other countries</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>