<div class="container">
    <div class="card">
        <div class="form-group">

            <label>Image path</label>
            <input #ProductImgPath [(ngModel)]="product.imgPath" type="text" class="form-control" id="imge-path" placeholder="Enter Image">

        </div>

        <div class="form-group">
            <label>Product's name</label>
            <input #ProductName [(ngModel)]="product.name" type="text" class="form-control" id="product-name" placeholder="Enter name">
        </div>

        <div class="form-group">
            <label>Price</label>
            <input #ProductPrice [(ngModel)]="product.price" type="text" class="form-control" id="product-price" placeholder="Enter price">
        </div>

        <div class="form-group">
            <button (click)="updateProduct(ProductName.value, ProductPrice.value, ProductImgPath.value)" type="submit" class="btn btn-primary">
                Update Product
              </button>

        </div>
    </div>
</div>