<div class="container">
    <div class="row">
        <div class="btn-group-vertical" data-toggle="buttons" class="col-2">
            <button *ngFor=" let category of categories" type="button" class="btn btn-primary btn-lg btn-block">{{category.category_name}}</button>
        </div>
        <div class="col">
            <img style="height: 450px; width: 100%; display: block;" src="https://media.wired.com/photos/5dcb8585dea30b00096c6ce4/master/w_1200%2Cc_limit/Gear-Alienware-M15-R2-Source-Amazon.jpg" alt="Card image">
        </div>
    </div>
</div>