.container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.col-4 {
    float: right;
}

.btn-group-vertical {
    float: left;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    object-fit: contain;
}

h3 {
    font-size: 16px;
}