<nav style="background-color: white; box-sizing: border-box;  box-shadow: 0 1px 2px 0;
;" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="header-main">
            <a class="navbar-brand" href="#">
                <img style='width:70px; height:70px;' src='https://cdn3.iconfinder.com/data/icons/e-commerce-35/74/shop_from_laptop-512.png'>
                <i style="font-size: xx-large; font-weight: bold;">  Gaming shop</i>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbarColor01" style="font-weight: 700;">
            <ul class="navbar-nav mr-auto" style="font-size: larger;">

                <li class="nav-item active">
                    <a class="nav-link" routerLink="/productlist">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/detail">Features</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#" routerLink="/productinput">Input</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#" routerLink="/categoryinput">Categories</a>
                </li>

                <!-- <form class="form-inline my-2 my-lg-0" style="position: relative;">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form> -->

                <div class="icon-user" style=" border-radius:15px;
                padding:1px; box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); float: right;
                ">
                    <div> <img class="account-btn" style='z-index:2;width:50px; height:50px;' src='https://cdn.onlinewebfonts.com/svg/img_258083.png'></div>
                </div>
                <div style="z-index: 1;align-content: center; justify-content: center;  ">
                    <p>vo dinh hieu</p>
                    <p>C</p>
                </div>



            </ul>
        </div>
    </div>
</nav>


<!-- <div class="main-page-wrapper">
    <div class="account-info-drop-down mt-2 hidden temporary-box-shadow">
        <div class="account-info-header border-bottom">
            <p class="my-0  pt-2 pl-3">Brian Glover</p>
            <p class="my-0 pl-3 pb-2 text-secondary">
                <small>Client ID: 3004877</small>
            </p>
        </div>
        <div class="mobile-manage-account-link mobile-dropdown-link pl-3 manage-account-btn">
            Manage account
        </div>
        <div class="mobile-request-migration-link mobile-dropdown-link pl-3 border-top">
            Sign out
        </div>
    </div>
</div> -->