<div class="container" style="z-index: 2;">
    <div class='title'>
        <h3 class="card-header">Laptop mới</h3>
    </div>
    <hr class="my-4">
    <div class="row" style="margin-bottom: 2px;">
        <div *ngFor="let product of products" class="col">
            <div class='items-card'>
                <div style="display: flex; justify-content: center;">
                    <img style="height: 200px; width: 200px; overflow: hidden;" [src]="product.imgPath" alt="Card image">
                </div>
                6
                <h3 class="product-name" routerLink="/detail/{{product._id}}" style="text-align: center;">
                    {{product.name}}
                </h3>

                <div style="text-align: left;">
                    <h5 class="card-body">{{product.price | currency}} </h5>
                </div>
                <!-- <div class="card-footer text-muted">
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;" routerLink="/detail/{{product._id}}">Update</button>
                    <button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
                </div> -->

            </div>
            <div class="overlay">

            </div>
        </div>
    </div>
</div>