.product-name {
    font-size: 15px;
    color: #207bc1;
    display: block;
}

.product-name:active {
    text-decoration: underline;
}

.product-name:visited {
    text-decoration: none;
}

.product-name:hover {
    text-decoration: underline;
}

.product-name:link {
    text-decoration: none;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: 20px;
    margin-top: 2px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}