<div class="container">
    <div class='title'>
        <h3 class="card-header">Laptop mới</h3>
    </div>
    <hr class="my-4">
    <div class="row" style="margin-bottom: 2px;">
        <div *ngFor="let product of products" class="col">
            <div style="box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            ">
                <div style="display: flex; justify-content: center;">
                    <img style="height: 200px; width: 200px;" [src]="product.imgPath" alt="Card image">
                </div>

                <h3 class="product-name" routerLink="/detail/{{product._id}}" style="text-align: center;">
                    {{product.name}}
                </h3>
                <div style="text-align: left;">
                    <h5 class="card-body">{{product.price | currency}} </h5>
                </div>
                <!-- <div class="card-footer text-muted">
                    <button type="button" class="btn btn-primary" style="margin-right: 10px;" routerLink="/detail/{{product._id}}">Update</button>
                    <button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
                </div> -->
            </div>
        </div>
    </div>
</div>